/* basic elements */

#logo {
	float: right;
}
#top {
width: 500px;
}

fieldset {
	width: 500px;
	padding: 10px;
	margin-top: 10px;
	border: solid 3px grey;
	line-height: 2em;
}

legend {
	border: none;
	padding: 5px 10px 5px 10px;
	line-height: 1em;
	background-color: grey;
	color: white;
}

input[type=submit], input[type=reset] {
	background-color: green;
	color: white;
	margin-top: 20px;
	font-size: 16px;
	weight: bold;
}

/* Si on a dans le html:

<label for="email"> Email: </label>

et on veut changer, par exemple, la largeur du label on le selectionne :

label[for=email]
{
    ...
}

OR:

label[for="field[]"]
{
     ...
}

*/
